* {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #343541;
  display: flex;
}

.side-bar {
  background-color: #202123;
  height: 100vh;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-bar button {
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  margin: 12px;
  cursor: pointer;
}

.side-bar nav {
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 10px;
}

.history {
  padding: 10px;
  margin: 10px;
  height: 100%;
}

.history li {
  list-style-type: none;
  padding: 15px 0;
  cursor: pointer;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.bottom-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  position: relative;
  width: 100%;
  max-width: 600px;
}

input {
  font-size: 20px;
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 12px 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0, 0.05) 0 54px 55px,
    rgba(0, 0, 0, 0, 0.05) 0 -12px 30px, rgba(0, 0, 0, 0, 0.05) 0 4px 6px,
    rgba(0, 0, 0, 0, 0.05) 0 12px 3px, rgba(0, 0, 0, 0, 0.05) 0 -3px 5px;
}

input:focus {
  outline: none;
}

.info {
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  padding: 10px;
}

#submit {
  position: absolute;
  bottom: 8px;
  right: -16px;
  font-size: 28px;
  cursor: pointer;
}
